@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
:root {
  --p: 54, 100%, 35%;
  --pf: 54, 95%, 29;
  --pc: 0, 0%, 99%;
  --s: rgb(149, 235, 156);
  --sf: rgb(149, 235, 156);
  --sc: rgb(149, 235, 156);
  --color-gray: #f8f8f8;
  --color-black: #333333;
  --color-dark: #222;
  --color-white: #ffffff;
  --color-danger: rgb(219, 136, 136);
  --color-transparent: rgba(0, 0, 0, 0);
  --color-success: rgb(149, 235, 156);
  font-size: 16px;
}

body,
html {
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  color: var(--color-gray);
  background-color: var(--color-dark);
}

.mh-100 {
  min-height: 100vh;
}

a.silent {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem !important;
  height: 0.3rem;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  opacity: 0.5;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--p);
}

.horizontal-scroll {
  overflow-x: auto;
  max-width: 100%;
}
.horizontal-scroll ::-webkit-scrollbar {
  display: none !important;
}

//syles for the svg
.work-svg .st17 {
  display: none !important;
  fill: var(--p) !important;
}

footer {
  padding: 2rem 0px;
  .social-media-links {
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      padding: 1rem;
      a {
        text-decoration: none;
        color: var(--color-gray);
        &:hover {
          color: var(--p);
        }
      }
    }
  }
}

section:nth-child(even) {
  background-color: var(--color-black);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sostene-terminal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  height: 100%;
  background-color: var(--color-black);
  width: 100%;
  border-radius: 1rem;
  resize: both !important;
  &.closed {
    position: fixed;
    height: auto;
    padding: 0px;
    background: transparent;
    width: auto;
    z-index: 5000;
    bottom: 0px;
    right: 0px;
    min-height: auto;
    .terminal-body {
      display: none;
    }
    .titlebar {
      display: flex !important;
    }
  }
  &.maximized {
    position: fixed;
    top: -80px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100vh;
    z-index: 7000;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .terminal-maximize {
    background: greenyellow !important;
  }
  .terminal-minimize {
    background: yellow !important;
  }
  .terminal-close {
    background: red !important;
  }
  .titlebar {
    padding: 0.8rem 1rem;
  }
  .terminal-body {
    overflow-y: scroll;
    padding: 0px 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  ul.action {
    display: flex;
    li {
      list-style: none;
      width: 1rem;
      height: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      background-color: var(--color-white);
      border-radius: 50%;
      margin: 0px 0.2rem;
      cursor: pointer;
      color: black;
    }
  }
  .terminal-input {
    font-family: inherit;
    min-height: 2em;
    &:active,
    &:focus,
    &:active,
    &:visited {
      width: 100%;
      flex: 1;
      padding: 0px;
      border: none;
      outline: none;
      border-radius: 0px !important;
      font-size: 1rem;
      height: auto;
      margin: 0px;
    }
  }
}

